html {
    --pst-header-height:3rem;
    --pst-header-article-height:calc(var(--pst-header-height)*2/3);
    --pst-sidebar-secondary:17rem;
    --pst-font-size-base:15px;
    --pst-font-size-h1:36px;
    --pst-font-size-h2:32px;
    --pst-font-size-h3:26px;
    --pst-font-size-h4:21px;
    --pst-font-size-h5:18px;
    --pst-font-size-h6:16px;
    --pst-font-size-milli:12px;
    --pst-sidebar-font-size:0.9em;
    --pst-sidebar-font-size-mobile:1.2em;
    --pst-sidebar-header-font-size:1.2em;
    --pst-sidebar-header-font-weight:600;
    --pst-font-weight-caption:300;
    --pst-font-weight-heading:600;
    --pst-font-family-base-system:-apple-system,BlinkMacSystemFont,Segoe UI,"Helvetica Neue",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --pst-font-family-monospace-system:"SFMono-Regular",Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    --pst-font-family-base:var(--pst-font-family-base-system);
    --pst-font-family-heading:var(--pst-font-family-base-system);
    --pst-font-family-monospace:var(--pst-font-family-monospace-system);
    --pst-font-size-icon:1.5rem;
    --pst-icon-check-circle:"\f058";
    --pst-icon-info-circle:"\f05a";
    --pst-icon-exclamation-triangle:"\f071";
    --pst-icon-exclamation-circle:"\f06a";
    --pst-icon-times-circle:"\f057";
    --pst-icon-lightbulb:"\f0eb";
    --pst-icon-download:"\f019";
    --pst-icon-angle-left:"\f104";
    --pst-icon-angle-right:"\f105";
    --pst-icon-external-link:"\f35d";
    --pst-icon-search-minus:"\f010";
    --pst-icon-github:"\f09b";
    --pst-icon-gitlab:"\f296";
    --pst-icon-share:"\f064";
    --pst-icon-bell:"\f0f3";
    --pst-icon-pencil:"\f303";
    --pst-icon-admonition-default:var(--pst-icon-bell);
    --pst-icon-admonition-note:var(--pst-icon-info-circle);
    --pst-icon-admonition-attention:var(--pst-icon-exclamation-circle);
    --pst-icon-admonition-caution:var(--pst-icon-exclamation-triangle);
    --pst-icon-admonition-warning:var(--pst-icon-exclamation-triangle);
    --pst-icon-admonition-danger:var(--pst-icon-exclamation-triangle);
    --pst-icon-admonition-error:var(--pst-icon-times-circle);
    --pst-icon-admonition-hint:var(--pst-icon-lightbulb);
    --pst-icon-admonition-tip:var(--pst-icon-lightbulb);
    --pst-icon-admonition-important:var(--pst-icon-exclamation-circle);
    --pst-icon-admonition-seealso:var(--pst-icon-share);
    --pst-icon-admonition-todo:var(--pst-icon-pencil);
    --pst-icon-versionmodified-default:var(--pst-icon-exclamation-circle);
    --pst-icon-versionmodified-added:var(--pst-icon-exclamation-circle);
    --pst-icon-versionmodified-changed:var(--pst-icon-exclamation-circle);
    --pst-icon-versionmodified-deprecated:var(--pst-icon-exclamation-circle)
   }
   html[data-theme=light] {
    --pst-color-attention:#ffc107;
    --pst-color-text-base:#323232;
    --pst-color-text-muted:#646464;
    --pst-color-shadow:#d8d8d8;
    --pst-color-border:#c9c9c9;
    --pst-color-inline-code:#e83e8c;
    --pst-color-target:#fbe54e;
    --pst-color-background:#fff;
    --pst-color-on-background:#fff;
    --pst-color-surface:#f5f5f5;
    --pst-color-on-surface:#e1e1e1;
    --pst-color-link:var(--pst-color-primary);
    --pst-color-link-hover:var(--pst-color-warning)
   }
   html[data-theme=light] .only-dark {
    display:none!important
   }
   html[data-theme=dark] {
    --pst-color-attention:#dca90f;
    --pst-color-text-base:#cecece;
    --pst-color-text-muted:#a6a6a6;
    --pst-color-shadow:#212121;
    --pst-color-border:silver;
    --pst-color-inline-code:#dd9ec2;
    --pst-color-target:#472700;
    --pst-color-background:#121212;
    --pst-color-on-background:#1e1e1e;
    --pst-color-surface:#212121;
    --pst-color-on-surface:#373737;
    --pst-color-link:var(--pst-color-primary);
    --pst-color-link-hover:var(--pst-color-warning)
   }
   html[data-theme=dark] .only-light {
    display:none!important
   }
   html[data-theme=dark] img:not(.only-dark):not(.dark-light) {
    filter:brightness(.8) contrast(1.2)
   }
   html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
    background:#fff;
    border-radius:.25rem
   }
   html[data-theme=dark] .MathJax_SVG * {
    fill:var(--pst-color-text-base)
   }
   html {
    font-size:var(--pst-font-size-base);
    scroll-padding-top:calc(var(--pst-header-height) + 12px)
   }
   body {
    background-color:var(--pst-color-background);
    color:var(--pst-color-text-base);
    display:flex;
    flex-direction:column;
    font-family:var(--pst-font-family-base);
    font-weight:400;
    line-height:1.65;
    min-height:100vh
   }
   body::-webkit-scrollbar {
    height:.5rem;
    width:.5rem
   }
   body::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted);
    border-radius:.25rem
   }
   body::-webkit-scrollbar-track {
    background:transparent
   }
   body::-webkit-scrollbar-thumb {
    background:var(--pst-color-on-surface)
   }
   body::-webkit-scrollbar-thumb:hover,
   body:hover::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted)
   }
   body::-webkit-scrollbar-track {
    background:var(--pst-color-background)
   }
   p {
    color:var(--pst-color-text-base);
    font-size:1em;
    margin-bottom:1.15rem
   }
   p.rubric {
    border-bottom:1px solid var(--pst-color-border)
   }
   p.centered {
    text-align:center
   }
   a {
    color:var(--pst-color-link);
    text-decoration:none
   }
   a:hover {
    color:var(--pst-color-link-hover);
    text-decoration:underline
   }
   a.headerlink {
    color:var(--pst-color-warning);
    font-size:.8em;
    margin-left:.2em;
    opacity:.4;
    padding:0 4px;
    text-decoration:none;
    transition:all .2s ease-out;
    user-select:none
   }
   a.headerlink:hover {
    opacity:1
   }
   a:before {
    color:var(--pst-color-text-muted);
    font-family:Font Awesome\ 6 Brands;
    margin-right:.25rem
   }
   a.github:before {
    content:var(--pst-icon-github)
   }
   a.gitlab:before {
    content:var(--pst-icon-gitlab)
   }
   .heading-style,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
    font-family:var(--pst-font-family-heading);
    font-weight:400;
    line-height:1.15;
    margin:2.75rem 0 1.05rem
   }
   h1 {
    font-size:var(--pst-font-size-h1);
    margin-top:0
   }
   h1,
   h2 {
    color:var(--pst-color-primary)
   }
   h2 {
    font-size:var(--pst-font-size-h2)
   }
   h3 {
    font-size:var(--pst-font-size-h3)
   }
   h3,
   h4 {
    color:var(--pst-color-text-base)
   }
   h4 {
    font-size:var(--pst-font-size-h4)
   }
   h5 {
    font-size:var(--pst-font-size-h5)
   }
   h5,
   h6 {
    color:var(--pst-color-text-base)
   }
   h6 {
    font-size:var(--pst-font-size-h6)
   }
   .text_small,
   small {
    font-size:var(--pst-font-size-milli)
   }
   hr {
    border:0;
    border-top:1px solid var(--pst-color-border)
   }
   code,
   kbd,
   pre,
   samp {
    font-family:var(--pst-font-family-monospace)
   }
   kbd {
    background-color:var(--pst-color-on-background);
    color:var(--pst-color-text-muted)
   }
   kbd:not(.compound) {
    border:1px solid var(--pst-color-border);
    box-shadow:1px 1px 1px var(--pst-color-shadow);
    margin:0 .1rem;
    padding:.1rem .4rem
   }
   code {
    color:var(--pst-color-inline-code)
   }
   pre {
    background-color:var(--pst-color-surface);
    border:1px solid var(--pst-color-border);
    border-radius:.25rem;
    color:var(--pst-color-text-base);
    line-height:1.2em;
    margin:1.5em 0;
    padding:1rem
   }
   pre::-webkit-scrollbar {
    height:.5rem;
    width:.5rem
   }
   pre::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted);
    border-radius:.25rem
   }
   pre::-webkit-scrollbar-track {
    background:transparent
   }
   pre::-webkit-scrollbar-thumb {
    background:var(--pst-color-on-surface)
   }
   pre::-webkit-scrollbar-thumb:hover,
   pre:hover::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted)
   }
   pre .linenos {
    opacity:.5;
    padding-right:10px
   }
   .skip-link {
    background-color:var(--pst-color-background);
    border-bottom:1px solid var(--pst-color-border);
    color:var(--pst-color-link);
    left:0;
    padding:.5rem;
    position:fixed;
    right:0;
    text-align:center;
    top:0;
    transition:translate .15s ease-in-out;
    translate:0 -100%;
    z-index:1050
   }
   .skip-link:focus {
    translate:0
   }
   .bd-container {
    display:flex;
    flex-grow:1;
    justify-content:center
   }
   .bd-container .bd-container__inner {
    display:flex
   }
   .bd-page-width {
    width:100%
   }
   @media (min-width:960px) {
    .bd-page-width {
     max-width:88rem
    }
   }
   .bd-header-announcement {
    align-items:center;
    display:flex;
    justify-content:center;
    min-height:3rem;
    padding:.5rem 12.5%;
    position:relative;
    text-align:center;
    width:100%
   }
   @media (max-width:1199.98px) {
    .bd-header-announcement {
     padding:.5rem 2%
    }
   }
   .bd-header-announcement p {
    font-weight:700;
    margin:0
   }
   .bd-header-announcement:after {
    background-color:var(--pst-color-info);
    content:"";
    height:100%;
    left:0;
    opacity:.2;
    position:absolute;
    top:0;
    width:100%;
    z-index:-1
   }
   .bd-header-announcement:empty {
    display:none
   }
   .bd-main {
    display:flex;
    flex-direction:column;
    flex-grow:1;
    min-width:0
   }
   .bd-main .bd-content {
    display:flex;
    height:100%;
    justify-content:center
   }
   .bd-main .bd-content .bd-article-container {
    display:flex;
    flex-direction:column;
    justify-content:start;
    max-width:60em;
    overflow-x:auto;
    padding:1rem;
    width:100%
   }
   @media (min-width:1200px) {
    .bd-main .bd-content .bd-article-container .bd-article {
     padding-left:2rem;
     padding-top:1.5rem
    }
   }
   footer.bd-footer {
    border-top:1px solid var(--pst-color-border);
    padding:10px;
    width:100%
   }
   footer.bd-footer .footer-item p {
    margin-bottom:0
   }
   .bd-footer-article {
    display:flex;
    margin-top:auto
   }
   .bd-header {
    background:var(--pst-color-on-background)!important;
    box-shadow:0 .125rem .25rem 0 var(--pst-color-shadow);
    justify-content:center;
    max-width:100vw;
    min-height:var(--pst-header-height);
    padding:.5rem 0;
    position:sticky;
    top:0;
    width:100%;
    z-index:1030
   }
   .bd-header .bd-header__inner {
    align-items:center;
    display:flex;
    height:100%;
    padding-left:1rem;
    padding-right:1rem
   }
   @media (min-width:960px) {
    .bd-header .navbar-header-items {
     display:flex;
     flex-grow:1;
     padding:0 0 0 .5rem
    }
   }
   .bd-header #navbar-center,
   .bd-header #navbar-end,
   .bd-header #navbar-start {
    align-items:center;
    display:flex;
    flex-flow:wrap
   }
   .bd-header #navbar-center,
   .bd-header #navbar-end {
    gap:1rem
   }
   .bd-header #navbar-start {
    gap:.5rem;
    margin-right:auto
   }
   .bd-header #navbar-end {
    justify-content:end
   }
   .bd-header .navbar-nav {
    display:flex
   }
   @media (min-width:960px) {
    .bd-header .navbar-nav {
     align-items:center
    }
   }
   .bd-header .navbar-nav li a.nav-link {
    color:var(--pst-color-text-muted)
   }
   .bd-header .navbar-nav li a.nav-link:focus,
   .bd-header .navbar-nav li a.nav-link:hover {
    color:var(--pst-color-primary)
   }
   .bd-header .navbar-nav>.active>.nav-link {
    color:var(--pst-color-primary);
    font-weight:600
   }
   .bd-header .navbar-nav .dropdown button {
    border:none;
    color:var(--pst-color-text-muted);
    display:unset
   }
   .bd-header .navbar-nav .dropdown .dropdown-menu {
    background-color:var(--pst-color-on-background);
    border:1px solid var(--pst-color-border);
    box-shadow:0 0 .3rem .1rem var(--pst-color-shadow);
    margin:.5rem 0;
    min-width:20rem;
    padding:.5rem 1rem;
    z-index:1060
   }
   .bd-header .navbar-nav .dropdown .dropdown-menu:not(.show) {
    display:none
   }
   @media (min-width:960px) {
    .navbar-center-item {
     display:inline-block
    }
   }
   .toc-entry>.nav-link.active {
    background-color:transparent;
    border-left:2px solid var(--pst-color-primary);
    color:var(--pst-color-primary);
    font-weight:600
   }
   .nav-link:hover {
    border-style:none
   }
   .nav-link.nav-external:after {
    content:var(--pst-icon-external-link);
    font-family:Font Awesome\ 6 Free;
    font-size:.75em;
    font-weight:900;
    margin-left:.3em
   }
   #navbar-main-elements li.nav-item i {
    font-size:.7rem;
    padding-left:2px;
    vertical-align:middle
   }
   .bd-header label.sidebar-toggle {
    align-items:center;
    color:var(--pst-color-muted);
    cursor:pointer;
    display:flex;
    font-size:var(--pst-font-size-icon);
    margin-bottom:0
   }
   .bd-header label.primary-toggle {
    padding-right:1rem
   }
   @media (min-width:960px) {
    .bd-header label.primary-toggle {
     display:none
    }
   }
   .bd-header label.secondary-toggle {
    padding-left:1rem
   }
   @media (min-width:1200px) {
    .bd-header label.secondary-toggle {
     display:none
    }
   }
   .bd-header .navbar-header-items {
    display:none
   }
   @media (min-width:960px) {
    .bd-header .navbar-header-items {
     display:inherit
    }
   }
   .navbar-persistent--mobile {
    margin-left:auto
   }
   @media (min-width:960px) {
    .navbar-persistent--mobile {
     display:none
    }
   }
   .navbar-persistent--container {
    display:none
   }
   @media (min-width:960px) {
    .navbar-persistent--container {
     display:flex
    }
   }
   .bd-header-article__inner {
    align-items:center;
    display:flex;
    min-height:var(--pst-header-article-height);
    padding:0 .5rem
   }
   .bd-header-article__inner .bd-header-article__end {
    margin-left:auto
   }
   .bd-sidebar-primary {
    background-color:var(--pst-color-background);
    border-right:1px solid var(--pst-color-border);
    display:flex;
    flex:0 0 25%;
    flex-direction:column;
    font-size:var(--pst-sidebar-font-size-mobile);
    gap:1rem;
    max-height:calc(100vh - var(--pst-header-height));
    max-width:25%;
    overflow-y:auto;
    padding:2rem 1rem 1rem;
    position:sticky;
    top:var(--pst-header-height)
   }
   .bd-sidebar-primary::-webkit-scrollbar {
    height:.5rem;
    width:.5rem
   }
   .bd-sidebar-primary::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted);
    border-radius:.25rem
   }
   .bd-sidebar-primary::-webkit-scrollbar-track {
    background:transparent
   }
   .bd-sidebar-primary::-webkit-scrollbar-thumb {
    background:var(--pst-color-on-surface)
   }
   .bd-sidebar-primary::-webkit-scrollbar-thumb:hover,
   .bd-sidebar-primary:hover::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted)
   }
   @media (min-width:960px) {
    .bd-sidebar-primary {
     font-size:var(--pst-sidebar-font-size)
    }
   }
   .bd-sidebar-primary.no-sidebar {
    border-right:0
   }
   @media (min-width:960px) {
    .bd-sidebar-primary.hide-on-wide {
     display:none
    }
   }
   .bd-sidebar-primary .sidebar-end-items__item,
   .bd-sidebar-primary .sidebar-start-items__item {
    padding:.5rem 0
   }
   .bd-sidebar-primary .sidebar-header-items {
    display:flex;
    flex-direction:column
   }
   .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__title {
    color:var(--pst-color-text-base);
    font-size:var(--pst-sidebar-header-font-size);
    font-weight:var(--pst-sidebar-header-font-weight);
    margin-bottom:.5rem
   }
   .bd-sidebar-primary .sidebar-header-items .nav-item.dropdown button {
    display:none
   }
   .bd-sidebar-primary .sidebar-header-items .nav-item.dropdown .dropdown-menu {
    background-color:inherit;
    border:none;
    display:flex;
    flex-direction:column;
    font-size:inherit;
    margin:0;
    padding:0
   }
   .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__center {
    display:flex;
    flex-direction:column
   }
   .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__end {
    align-items:center;
    display:flex;
    gap:.5rem
   }
   @media (min-width:960px) {
    .bd-sidebar-primary .sidebar-header-items {
     display:none
    }
   }
   .bd-sidebar-primary .sidebar-start-items {
    border-top:1px solid var(--pst-color-border)
   }
   @media (min-width:960px) {
    .bd-sidebar-primary .sidebar-start-items {
     border-top:none
    }
   }
   .bd-sidebar-primary .sidebar-end-items {
    margin-bottom:1em;
    margin-top:auto
   }
   .bd-sidebar-primary .list-caption {
    list-style:none;
    padding-left:0
   }
   .bd-sidebar-primary li {
    position:relative
   }
   .bd-sidebar-primary li.has-children>.reference {
    padding-right:30px
   }
   .bd-sidebar-primary label.toctree-toggle {
    align-items:center;
    cursor:pointer;
    display:flex;
    height:30px;
    justify-content:center;
    position:absolute;
    right:0;
    top:0;
    width:30px
   }
   .bd-sidebar-primary label.toctree-toggle:hover {
    background:var(--pst-color-surface)
   }
   .bd-sidebar-primary label.toctree-toggle i {
    display:inline-block;
    font-size:.75rem;
    text-align:center
   }
   .bd-sidebar-primary label.toctree-toggle i:hover {
    color:var(--pst-color-primary)
   }
   .bd-sidebar-primary .label-parts {
    height:100%;
    width:100%
   }
   .bd-sidebar-primary .label-parts:hover {
    background:none
   }
   .bd-sidebar-primary .label-parts i {
    position:absolute;
    right:0;
    top:.3em;
    width:30px
   }
   nav.bd-links {
    margin-right:-1rem
   }
   @media (min-width:960px) {
    nav.bd-links {
     display:block
    }
   }
   nav.bd-links ul {
    list-style:none
   }
   nav.bd-links ul ul {
    padding:0 0 0 1rem
   }
   nav.bd-links li>a {
    color:var(--pst-color-text-muted);
    display:block;
    padding:.25rem 0
   }
   nav.bd-links li>a:hover {
    background-color:transparent;
    color:var(--pst-color-primary);
    text-decoration:none
   }
   nav.bd-links li>a.reference.external:after {
    content:var(--pst-icon-external-link);
    font-family:Font Awesome\ 6 Free;
    font-size:.75em;
    font-weight:900;
    margin-left:.3em
   }
   nav.bd-links .active:hover>a,
   nav.bd-links .active>a {
    color:var(--pst-color-primary);
    font-weight:600
   }
   nav.bd-links p.bd-links__title {
    font-size:var(--pst-sidebar-header-font-size);
    font-weight:var(--pst-sidebar-header-font-weight);
    margin-bottom:.5rem
   }
   nav.bd-links p.caption {
    color:var(--pst-color-text-base);
    font-weight:var(--pst-sidebar-header-font-weight);
    margin-bottom:.5em;
    margin-top:1.25em;
    position:relative
   }
   nav.bd-links p.caption:first-child {
    margin-top:0
   }
   .bd-sidebar-secondary {
    background-color:var(--pst-color-background);
    display:flex;
    flex-direction:column;
    flex-shrink:0;
    font-size:var(--pst-sidebar-font-size-mobile);
    max-height:calc(100vh - var(--pst-header-height));
    order:2;
    overflow-y:auto;
    padding:2rem 1rem 1rem;
    position:sticky;
    top:var(--pst-header-height);
    width:var(--pst-sidebar-secondary)
   }
   @media (min-width:1200px) {
    .bd-sidebar-secondary {
     font-size:var(--pst-sidebar-secondary-font-size)
    }
   }
   .bd-sidebar-secondary .onthispage {
    color:var(--pst-color-text-base);
    font-weight:var(--pst-sidebar-header-font-weight)
   }
   .bd-sidebar-secondary::-webkit-scrollbar {
    height:.5rem;
    width:.5rem
   }
   .bd-sidebar-secondary::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted);
    border-radius:.25rem
   }
   .bd-sidebar-secondary::-webkit-scrollbar-track {
    background:transparent
   }
   .bd-sidebar-secondary::-webkit-scrollbar-thumb {
    background:var(--pst-color-on-surface)
   }
   .bd-sidebar-secondary::-webkit-scrollbar-thumb:hover,
   .bd-sidebar-secondary:hover::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted)
   }
   .toc-item {
    padding:.5rem
   }
   @media (min-width:1200px) {
    .toc-item {
     border-left:1px solid var(--pst-color-border);
     padding-left:1rem
    }
   }
   .toc-item i {
    padding-right:.5rem
   }
   .section-nav {
    border-bottom:none;
    padding-left:0
   }
   .section-nav ul {
    padding-left:1rem
   }
   div#searchbox p.highlight-link {
    margin-bottom:0
   }
   div#searchbox p.highlight-link a:before {
    color:unset;
    content:var(--pst-icon-search-minus);
    font-family:Font Awesome\ 6 Free;
    font-weight:900;
    margin-right:0;
    padding-right:.5rem
   }
   input.sidebar-toggle {
    display:none
   }
   label.overlay {
    background-color:#000;
    height:0;
    left:0;
    opacity:.5;
    position:fixed;
    top:0;
    transition:opacity .2s ease-out;
    width:0;
    z-index:1040
   }
   input#__primary:checked+label.overlay.overlay-primary,
   input#__secondary:checked+label.overlay.overlay-secondary {
    height:100vh;
    width:100vw
   }
   input#__primary:checked~.bd-container .bd-sidebar-primary {
    margin-left:0;
    visibility:visible
   }
   input#__secondary:checked~.bd-container .bd-sidebar-secondary {
    margin-right:0;
    visibility:visible
   }
   @media (min-width:960px) {
    label.sidebar-toggle.primary-toggle {
     display:none
    }
    input#__primary:checked+label.overlay.overlay-primary {
     height:0;
     width:0
    }
    .bd-sidebar-primary {
     margin-left:0;
     visibility:visible
    }
   }
   @media (max-width:959.98px) {
    .bd-sidebar-primary {
     flex-grow:0.75;
     height:100vh;
     left:0;
     margin-left:-75%;
     max-height:100vh;
     max-width:350px;
     position:fixed;
     top:0;
     transition:visibility .2s ease-out,margin .2s ease-out;
     visibility:hidden;
     width:75%;
     z-index:1050
    }
   }
   @media (max-width:1199.98px) {
    .bd-sidebar-secondary {
     flex-grow:0.75;
     height:100vh;
     margin-right:-75%;
     max-height:100vh;
     max-width:350px;
     position:fixed;
     right:0;
     top:0;
     transition:visibility .2s ease-out,margin .2s ease-out;
     visibility:hidden;
     width:75%;
     z-index:1050
    }
   }
   #navbar-icon-links i.fa-brands,
   #navbar-icon-links i.fa-regular,
   #navbar-icon-links i.fa-solid {
    font-size:var(--pst-font-size-icon);
    font-style:normal;
    vertical-align:middle
   }
   #navbar-icon-links i.fa-square-twitter:before {
    color:#55acee
   }
   #navbar-icon-links i.fa-square-gitlab:before {
    color:#548
   }
   #navbar-icon-links i.fa-bitbucket:before {
    color:#0052cc
   }
   #navbar-icon-links img.icon-link-image {
    border-radius:.2rem;
    height:1.5em
   }
   #navbar-icon-links li:first-child a {
    padding-left:0
   }
   #navbar-icon-links a span {
    align-items:center;
    display:flex
   }
   @media (max-width:1199.98px) {
    #navbar-icon-links {
     flex-direction:row
    }
    #navbar-icon-links a {
     padding:0 .5rem
    }
   }
   .navbar-brand {
    align-items:center;
    display:flex;
    gap:.5rem;
    height:var(--pst-header-height);
    margin:0;
    padding:0;
    position:relative;
    width:auto
   }
   .navbar-brand p {
    margin-bottom:0
   }
   .navbar-brand img {
    height:100%;
    max-width:100%;
    width:auto
   }
   .navbar-nav ul {
    display:block;
    list-style:none
   }
   .navbar-nav ul ul {
    padding:0 0 0 1rem
   }
   .navbar-nav li {
    display:flex;
    flex-direction:column
   }
   .navbar-nav li a {
    align-items:center;
    color:var(--pst-color-text-muted);
    display:flex;
    height:100%;
    padding-bottom:.25rem;
    padding-top:.25rem
   }
   .navbar-nav li a:hover {
    border-style:none;
    text-decoration-line:none
   }
   .navbar-nav li a:focus,
   .navbar-nav li a:hover,
   .navbar-nav li.current>a {
    color:var(--pst-color-primary)
   }
   .navbar-nav li.current>a {
    font-weight:600
   }
   .navbar-nav .toctree-checkbox {
    display:none;
    position:absolute
   }
   .navbar-nav .toctree-checkbox~ul {
    display:none
   }
   .navbar-nav .toctree-checkbox~label i {
    transform:rotate(0deg)
   }
   .navbar-nav .toctree-checkbox:checked~ul {
    display:block
   }
   .navbar-nav .toctree-checkbox:checked~label i {
    transform:rotate(180deg)
   }
   .bd-header .navbar-nav>p.sidebar-header-items__title {
    display:none
   }
   .prev-next-area {
    width:100%
   }
   .prev-next-area p {
    line-height:1.3em;
    margin:0 .3em
   }
   .prev-next-area i {
    font-size:1.2em
   }
   .prev-next-area a {
    align-items:center;
    border:none;
    color:var(--pst-color-text-muted);
    display:flex;
    max-width:45%;
    overflow-x:hidden;
    padding:10px;
    text-decoration:none
   }
   .prev-next-area a p.prev-next-title {
    color:var(--pst-color-primary);
    font-size:1.1em;
    font-weight:var(--pst-font-weight-heading)
   }
   .prev-next-area a:hover p.prev-next-title {
    text-decoration:underline
   }
   .prev-next-area a .prev-next-info {
    flex-direction:column;
    margin:0 .5em
   }
   .prev-next-area a .prev-next-info .prev-next-subtitle {
    text-transform:capitalize
   }
   .prev-next-area a.left-prev {
    float:left
   }
   .prev-next-area a.right-next {
    float:right
   }
   .prev-next-area a.right-next div.prev-next-info {
    text-align:right
   }
   .bd-search {
    margin-left:-15px;
    margin-right:-15px;
    padding:1rem 15px;
    position:relative
   }
   .bd-search .icon {
    color:var(--pst-color-border);
    left:25px;
    position:absolute
   }
   .bd-search i.fa-solid.fa-magnifying-glass {
    color:var(--pst-color-text-muted);
    left:1.6rem;
    position:absolute
   }
   .bd-search input {
    background-color:var(--pst-color-background);
    border:1px solid var(--pst-color-border);
    border-radius:.25rem;
    color:var(--pst-color-text-base);
    padding-left:2.5rem
   }
   .bd-search input::placeholder {
    color:var(--pst-color-border)
   }
   .bd-search input:active,
   .bd-search input:focus {
    background-color:var(--pst-color-background);
    color:var(--pst-color-text-base)
   }
   .bd-search input::-webkit-search-cancel-button,
   .bd-search input::-webkit-search-decoration {
    -webkit-appearance:none;
    appearance:none
   }
   .bd-search .search-button__kbd-shortcut {
    color:var(--pst-color-border);
    position:absolute;
    right:2em
   }
   .search-button {
    align-content:center;
    align-items:center;
    color:var(--pst-color-text-muted);
    display:flex;
    padding:0
   }
   .search-button:hover {
    color:var(--pst-color-primary)
   }
   .search-button i {
    font-size:1.3rem
   }
   .search-button__overlay,
   .search-button__search-container {
    display:none
   }
   .search-button__wrapper.show .search-button__search-container {
    display:flex;
    left:50%;
    margin-top:.5rem;
    max-width:800px;
    position:fixed;
    right:1rem;
    top:30%;
    transform:translate(-50%,-50%);
    width:90%;
    z-index:1050
   }
   .search-button__wrapper.show .search-button__overlay {
    background-color:#000;
    display:flex;
    height:100%;
    left:0;
    opacity:.5;
    position:fixed;
    top:0;
    width:100%;
    z-index:1040
   }
   .search-button__wrapper.show form.bd-search {
    flex-grow:1;
    padding-bottom:0;
    padding-top:0
   }
   .search-button__wrapper.show i,
   .search-button__wrapper.show input {
    font-size:var(--pst-font-size-icon)
   }
   .theme-switch-button {
    border-color:var(--pst-color-on-background);
    font-size:calc(var(--pst-font-size-icon) - .1rem);
    margin:0 -.5rem;
    padding:0
   }
   .theme-switch-button span {
    color:var(--pst-color-text-muted);
    display:none;
    padding:.5rem
   }
   .theme-switch-button span:active,
   .theme-switch-button span:focus,
   .theme-switch-button span:hover {
    text-decoration:none
   }
   .theme-switch-button:active,
   .theme-switch-button:hover {
    background-color:var(--pst-color-on-surface)!important;
    border-color:var(--pst-color-on-background)!important
   }
   .theme-switch-button:active a,
   .theme-switch-button:hover a {
    color:var(--pst-color-text-muted)
   }
   .bd-sidebar-primary .theme-switch-button {
    border-color:var(--pst-color-background)
   }
   .bd-sidebar-primary .theme-switch-button:active,
   .bd-sidebar-primary .theme-switch-button:hover {
    border-color:var(--pst-color-background)!important
   }
   html[data-mode=auto] .theme-switch-button span[data-mode=auto],
   html[data-mode=dark] .theme-switch-button span[data-mode=dark],
   html[data-mode=light] .theme-switch-button span[data-mode=light] {
    display:flex
   }
   button.version-switcher__button {
    border-color:var(--pst-color-border);
    color:var(--pst-color-text-base);
    margin-bottom:1em
   }
   @media (min-width:960px) {
    button.version-switcher__button {
     margin-bottom:unset
    }
   }
   button.version-switcher__button:hover {
    color:var(--pst-color-text-base)
   }
   .version-switcher__menu {
    border-color:var(--pst-color-border)
   }
   .version-switcher__menu a.list-group-item {
    background-color:var(--pst-color-on-background);
    border-color:var(--pst-color-border);
    color:var(--pst-color-text-base)
   }
   .version-switcher__menu a.list-group-item:hover {
    background-color:var(--pst-color-surface)
   }
   .version-switcher__menu a.list-group-item.active {
    color:var(--pst-color-primary)
   }
   .version-switcher__menu a.list-group-item.active span:before {
    background-color:var(--pst-color-primary);
    content:"";
    height:100%;
    left:0;
    opacity:.1;
    position:absolute;
    top:0;
    width:100%
   }
   .version-switcher__menu,
   button.version-switcher__button {
    font-size:1.1em
   }
   @media (min-width:960px) {
    .version-switcher__menu,
    button.version-switcher__button {
     font-size:unset
    }
   }
   nav.page-toc {
    margin-bottom:1rem
   }
   nav.page-toc ul>li {
    font-size:.95em
   }
   .bd-toc .nav .nav,
   .list-caption .nav {
    display:none
   }
   .bd-toc .nav .nav.visible,
   .bd-toc .nav>.active>ul,
   .list-caption .nav.visible,
   .list-caption>.active>ul,
   .toc-entry {
    display:block
   }
   .toc-entry a.nav-link {
    color:var(--pst-color-text-muted);
    display:block;
    margin-left:-1rem;
    padding:.125rem 0 .125rem 1rem
   }
   .toc-entry a.nav-link:hover {
    color:var(--pst-color-primary);
    text-decoration:none
   }
   .toc-entry a.nav-link.active {
    background-color:transparent;
    border-left:2px solid var(--pst-color-primary);
    color:var(--pst-color-primary);
    font-weight:600
   }
   div.deprecated,
   div.versionadded,
   div.versionchanged {
    background-color:var(--pst-color-on-background);
    border-left:.2rem solid;
    border-color:var(--pst-color-info);
    border-radius:.25rem;
    box-shadow:0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important;
    margin:1.5625em auto;
    overflow:hidden;
    padding:0 .6rem;
    page-break-inside:avoid;
    position:relative;
    transition:color .25s,background-color .25s,border-color .25s;
    vertical-align:middle
   }
   div.deprecated>p,
   div.versionadded>p,
   div.versionchanged>p {
    margin-bottom:.6rem;
    margin-top:.6rem
   }
   div.deprecated>p:before,
   div.versionadded>p:before,
   div.versionchanged>p:before {
    background-color:var(--pst-color-info);
    content:"";
    height:100%;
    left:0;
    opacity:.1;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%
   }
   div.versionadded {
    border-color:var(--pst-color-success)
   }
   div.versionadded p:before {
    background-color:var(--pst-color-success)
   }
   div.versionchanged {
    border-color:var(--pst-color-warning)
   }
   div.versionchanged p:before {
    background-color:var(--pst-color-warning)
   }
   div.deprecated {
    border-color:var(--pst-color-danger)
   }
   div.deprecated p:before {
    background-color:var(--pst-color-danger)
   }
   span.versionmodified {
    font-weight:600
   }
   span.versionmodified:before {
    color:var(--pst-color-info);
    content:var(--pst-icon-versionmodified-default);
    font-family:Font Awesome\ 6 Free;
    font-style:normal;
    font-weight:900;
    margin-right:.6rem
   }
   span.versionmodified.added:before {
    color:var(--pst-color-success);
    content:var(--pst-icon-versionmodified-added)
   }
   span.versionmodified.changed:before {
    color:var(--pst-color-warning);
    content:var(--pst-icon-versionmodified-changed)
   }
   span.versionmodified.deprecated:before {
    color:var(--pst-color-danger);
    content:var(--pst-icon-versionmodified-deprecated)
   }
   .sidebar-indices-items {
    border-top:1px solid var(--pst-color-border);
    display:flex;
    flex-direction:column
   }
   @media (min-width:960px) {
    .sidebar-indices-items {
     border-top:none
    }
   }
   .sidebar-indices-items .sidebar-indices-items__title {
    color:var(--pst-color-text-base);
    font-size:var(--pst-sidebar-header-font-size);
    font-weight:var(--pst-sidebar-header-font-weight);
    margin-bottom:.5rem
   }
   .sidebar-indices-items ul.indices-link {
    list-style:none;
    margin-right:-1rem;
    padding:0
   }
   .sidebar-indices-items ul.indices-link li>a {
    color:var(--pst-color-text-muted);
    display:block;
    padding:.25rem 0
   }
   .sidebar-indices-items ul.indices-link li>a:hover {
    background-color:transparent;
    color:var(--pst-color-primary);
    text-decoration:none
   }
   .bd-sidebar-primary div#rtd-footer-container {
    bottom:-1rem;
    margin:-1rem;
    position:sticky
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-versions.rst-badge {
    font-family:var(--pst-font-family-base);
    font-size:.9em;
    max-width:unset;
    position:unset
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-versions.rst-badge .rst-current-version {
    align-items:center;
    background-color:var(--pst-color-background);
    border-top:1px solid var(--pst-color-border);
    color:var(--pst-color-success);
    display:flex;
    gap:.2rem;
    height:2.5rem;
    transition:background-color .2s ease-out
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-versions.rst-badge .fa.fa-book {
    color:var(--pst-color-text-muted);
    margin-right:auto
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-versions.rst-badge .fa.fa-book:after {
    color:var(--pst-color-text-base);
    content:"";
    font-family:var(--pst-font-family-base);
    font-weight:var(--pst-font-weight-heading)
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-versions.rst-badge .fa.fa-caret-down {
    color:var(--pst-color-text-muted)
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-versions.rst-badge.shift-up .rst-current-version {
    border-bottom:1px solid var(--pst-color-border)
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-other-versions {
    background-color:var(--pst-color-surface);
    color:var(--pst-color-text-base)
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-other-versions dl dd a {
    color:var(--pst-color-text-muted)
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-other-versions hr {
    background-color:var(--pst-color-border)
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-other-versions small a {
    color:var(--pst-color-link)
   }
   .bd-sidebar-primary div#rtd-footer-container .rst-other-versions input {
    background-color:var(--pst-color-surface);
    border:1px solid var(--pst-color-border);
    padding-left:.5rem
   }
   .admonition,
   div.admonition {
    background-color:var(--pst-color-on-background);
    border-left:.2rem solid;
    border-color:var(--pst-color-info);
    border-radius:.25rem;
    box-shadow:0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important;
    margin:1.5625em auto;
    overflow:hidden;
    padding:0 .6rem .8rem;
    page-break-inside:avoid
   }
   .admonition :last-child,
   div.admonition :last-child {
    margin-bottom:0
   }
   .admonition p.admonition-title~*,
   div.admonition p.admonition-title~* {
    margin-left:1.4rem;
    margin-right:1.4rem
   }
   .admonition>ol,
   .admonition>ul,
   div.admonition>ol,
   div.admonition>ul {
    margin-left:1em
   }
   .admonition>.admonition-title,
   div.admonition>.admonition-title {
    font-weight:var(--pst-font-weight-heading);
    margin:0 -.6rem;
    padding:.4rem .6rem .4rem 2rem;
    position:relative
   }
   .admonition>.admonition-title:after,
   div.admonition>.admonition-title:after {
    color:var(--pst-color-info);
    content:var(--pst-icon-admonition-default);
    font-family:Font Awesome\ 6 Free;
    font-weight:900;
    height:1rem;
    left:.5rem;
    opacity:1;
    position:absolute;
    width:1rem
   }
   .admonition>.admonition-title:before,
   div.admonition>.admonition-title:before {
    background-color:var(--pst-color-info);
    content:"";
    height:100%;
    left:0;
    opacity:.1;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%
   }
   .admonition>.admonition-title+*,
   div.admonition>.admonition-title+* {
    margin-top:.4em
   }
   .admonition.attention,
   div.admonition.attention {
    border-color:var(--pst-color-attention)
   }
   .admonition.attention>.admonition-title:before,
   div.admonition.attention>.admonition-title:before {
    background-color:var(--pst-color-attention)
   }
   .admonition.attention>.admonition-title:after,
   div.admonition.attention>.admonition-title:after {
    color:var(--pst-color-attention);
    content:var(--pst-icon-admonition-attention)
   }
   .admonition.caution,
   div.admonition.caution {
    border-color:var(--pst-color-warning)
   }
   .admonition.caution>.admonition-title:before,
   div.admonition.caution>.admonition-title:before {
    background-color:var(--pst-color-warning)
   }
   .admonition.caution>.admonition-title:after,
   div.admonition.caution>.admonition-title:after {
    color:var(--pst-color-warning);
    content:var(--pst-icon-admonition-caution)
   }
   .admonition.warning,
   div.admonition.warning {
    border-color:var(--pst-color-warning)
   }
   .admonition.warning>.admonition-title:before,
   div.admonition.warning>.admonition-title:before {
    background-color:var(--pst-color-warning)
   }
   .admonition.warning>.admonition-title:after,
   div.admonition.warning>.admonition-title:after {
    color:var(--pst-color-warning);
    content:var(--pst-icon-admonition-warning)
   }
   .admonition.danger,
   div.admonition.danger {
    border-color:var(--pst-color-danger)
   }
   .admonition.danger>.admonition-title:before,
   div.admonition.danger>.admonition-title:before {
    background-color:var(--pst-color-danger)
   }
   .admonition.danger>.admonition-title:after,
   div.admonition.danger>.admonition-title:after {
    color:var(--pst-color-danger);
    content:var(--pst-icon-admonition-danger)
   }
   .admonition.error,
   div.admonition.error {
    border-color:var(--pst-color-danger)
   }
   .admonition.error>.admonition-title:before,
   div.admonition.error>.admonition-title:before {
    background-color:var(--pst-color-danger)
   }
   .admonition.error>.admonition-title:after,
   div.admonition.error>.admonition-title:after {
    color:var(--pst-color-danger);
    content:var(--pst-icon-admonition-error)
   }
   .admonition.hint,
   div.admonition.hint {
    border-color:var(--pst-color-success)
   }
   .admonition.hint>.admonition-title:before,
   div.admonition.hint>.admonition-title:before {
    background-color:var(--pst-color-success)
   }
   .admonition.hint>.admonition-title:after,
   div.admonition.hint>.admonition-title:after {
    color:var(--pst-color-success);
    content:var(--pst-icon-admonition-hint)
   }
   .admonition.tip,
   div.admonition.tip {
    border-color:var(--pst-color-success)
   }
   .admonition.tip>.admonition-title:before,
   div.admonition.tip>.admonition-title:before {
    background-color:var(--pst-color-success)
   }
   .admonition.tip>.admonition-title:after,
   div.admonition.tip>.admonition-title:after {
    color:var(--pst-color-success);
    content:var(--pst-icon-admonition-tip)
   }
   .admonition.important,
   div.admonition.important {
    border-color:var(--pst-color-attention)
   }
   .admonition.important>.admonition-title:before,
   div.admonition.important>.admonition-title:before {
    background-color:var(--pst-color-attention)
   }
   .admonition.important>.admonition-title:after,
   div.admonition.important>.admonition-title:after {
    color:var(--pst-color-attention);
    content:var(--pst-icon-admonition-important)
   }
   .admonition.note,
   div.admonition.note {
    border-color:var(--pst-color-info)
   }
   .admonition.note>.admonition-title:before,
   div.admonition.note>.admonition-title:before {
    background-color:var(--pst-color-info)
   }
   .admonition.note>.admonition-title:after,
   div.admonition.note>.admonition-title:after {
    color:var(--pst-color-info);
    content:var(--pst-icon-admonition-note)
   }
   .admonition.seealso,
   div.admonition.seealso {
    border-color:var(--pst-color-success)
   }
   .admonition.seealso>.admonition-title:before,
   div.admonition.seealso>.admonition-title:before {
    background-color:var(--pst-color-success)
   }
   .admonition.seealso>.admonition-title:after,
   div.admonition.seealso>.admonition-title:after {
    color:var(--pst-color-success);
    content:var(--pst-icon-admonition-seealso)
   }
   .admonition.admonition-todo,
   div.admonition.admonition-todo {
    border-color:var(--pst-color-border)
   }
   .admonition.admonition-todo>.admonition-title:before,
   div.admonition.admonition-todo>.admonition-title:before {
    background-color:var(--pst-color-border)
   }
   .admonition.admonition-todo>.admonition-title:after,
   div.admonition.admonition-todo>.admonition-title:after {
    color:var(--pst-color-border);
    content:var(--pst-icon-admonition-todo)
   }
   .admonition.sidebar,
   div.admonition.sidebar {
    border-width:0 0 0 .2rem;
    clear:both;
    float:right;
    margin-left:.5rem;
    margin-top:0;
    max-width:40%
   }
   .admonition.sidebar.attention,
   .admonition.sidebar.important,
   div.admonition.sidebar.attention,
   div.admonition.sidebar.important {
    border-color:var(--pst-color-attention)
   }
   .admonition.sidebar.caution,
   .admonition.sidebar.warning,
   div.admonition.sidebar.caution,
   div.admonition.sidebar.warning {
    border-color:var(--pst-color-warning)
   }
   .admonition.sidebar.danger,
   .admonition.sidebar.error,
   div.admonition.sidebar.danger,
   div.admonition.sidebar.error {
    border-color:var(--pst-color-danger)
   }
   .admonition.sidebar.hint,
   .admonition.sidebar.seealso,
   .admonition.sidebar.tip,
   div.admonition.sidebar.hint,
   div.admonition.sidebar.seealso,
   div.admonition.sidebar.tip {
    border-color:var(--pst-color-success)
   }
   .admonition.sidebar.note,
   .admonition.sidebar.todo,
   div.admonition.sidebar.note,
   div.admonition.sidebar.todo {
    border-color:var(--pst-color-info)
   }
   .admonition.sidebar p.admonition-title~*,
   div.admonition.sidebar p.admonition-title~* {
    margin-left:0;
    margin-right:0
   }
   aside.topic,
   div.topic,
   div.topic.contents,
   nav.contents {
    background-color:var(--pst-color-surface);
    border-color:var(--pst-color-border);
    border-radius:.25rem;
    box-shadow:0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important;
    display:flex;
    flex-direction:column;
    padding:1rem 1.25rem
   }
   aside.topic .topic-title,
   div.topic .topic-title,
   div.topic.contents .topic-title,
   nav.contents .topic-title {
    margin:0 0 .5rem
   }
   aside.topic ul.simple,
   div.topic ul.simple,
   div.topic.contents ul.simple,
   nav.contents ul.simple {
    padding-left:1rem
   }
   aside.topic ul.simple ul,
   div.topic ul.simple ul,
   div.topic.contents ul.simple ul,
   nav.contents ul.simple ul {
    padding-left:2em
   }
   aside.sidebar {
    background-color:var(--pst-color-surface);
    border:1px solid var(--pst-color-border);
    border-radius:.25rem;
    margin-left:.5rem;
    padding:0
   }
   aside.sidebar>:last-child {
    padding-bottom:1rem
   }
   aside.sidebar p.sidebar-title {
    border-bottom:1px solid var(--pst-color-border);
    font-family:var(--pst-font-family-heading);
    font-weight:var(--pst-font-weight-heading);
    margin-bottom:0;
    padding-bottom:.5rem;
    padding-top:.5rem;
    position:relative
   }
   aside.sidebar>:not(.sidebar-title):first-child,
   aside.sidebar>p.sidebar-title+* {
    margin-top:1rem
   }
   aside.sidebar>* {
    padding-left:1rem;
    padding-right:1rem
   }
   p.rubric {
    display:flex;
    flex-direction:column
   }
   .seealso dd {
    margin-bottom:0;
    margin-top:0
   }
   table.field-list {
    border-collapse:separate;
    border-spacing:10px;
    margin-left:1px
   }
   table.field-list th.field-name {
    background-color:var(--pst-color-surface);
    padding:1px 8px 1px 5px;
    white-space:nowrap
   }
   table.field-list td.field-body p {
    font-style:italic
   }
   table.field-list td.field-body p>strong {
    font-style:normal
   }
   table.field-list td.field-body blockquote {
    border-left:none;
    margin:0 0 .3em;
    padding-left:30px
   }
   .table.autosummary td:first-child {
    white-space:nowrap
   }
   .sig {
    font-family:var(--pst-font-family-monospace)
   }
   .sig-inline.c-texpr,
   .sig-inline.cpp-texpr {
    font-family:unset
   }
   .sig.c .k,
   .sig.c .kt,
   .sig.c .m,
   .sig.c .s,
   .sig.c .sc,
   .sig.cpp .k,
   .sig.cpp .kt,
   .sig.cpp .m,
   .sig.cpp .s,
   .sig.cpp .sc {
    color:var(--pst-color-text-base)
   }
   .sig-name {
    color:var(--pst-color-inline-code)
   }
   dt:target,
   span.highlighted {
    background-color:var(--pst-color-target)
   }
   .viewcode-back {
    font-family:var(--pst-font-family-base)
   }
   .viewcode-block:target {
    background-color:var(--pst-color-target);
    border-bottom:1px solid var(--pst-color-border);
    border-top:1px solid var(--pst-color-border);
    position:relative
   }
   dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dd {
    margin-left:2rem
   }
   dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dd>dl.simple>dt {
    display:flex
   }
   dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl.field-list {
    display:grid;
    grid-template-columns:unset
   }
   dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dt.field-even,
   dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dt.field-odd {
    background-color:var(--pst-color-surface);
    margin-bottom:.1rem;
    margin-top:.2rem
   }
   div.highlight,
   div.literal-block-wrapper,
   div[class*=highlight-] {
    border-radius:.25rem;
    display:flex;
    flex-direction:column;
    width:unset
   }
   div.literal-block-wrapper {
    border:1px solid var(--pst-color-border);
    border-radius:.25rem
   }
   div.literal-block-wrapper div.code-block-caption {
    border-bottom:1px solid var(--pst-color-border);
    font-size:1rem;
    font-weight:var(--pst-font-weight-caption);
    margin:0;
    padding:.5rem
   }
   div.literal-block-wrapper div.code-block-caption a.headerlink {
    font-size:inherit
   }
   div.literal-block-wrapper div[class*=highlight-] {
    border-radius:0;
    margin:0
   }
   div.literal-block-wrapper div[class*=highlight-] pre {
    border:none;
    box-shadow:none
   }
   code.literal {
    background-color:var(--pst-color-surface);
    border:1px solid var(--pst-color-on-surface);
    border-radius:.25rem;
    padding:.1rem .25rem
   }
   figure a.headerlink {
    font-size:inherit;
    position:absolute
   }
   figure:hover a.headerlink {
    visibility:visible
   }
   figure figcaption {
    color:var(--pst-color-text-muted);
    font-family:var(--pst-font-family-heading);
    font-weight:var(--pst-font-weight-caption);
    margin-left:auto;
    margin-right:auto
   }
   figure figcaption table.table {
    margin-left:auto;
    margin-right:auto;
    width:fit-content
   }
   dt.label>span.brackets:not(:only-child):before {
    content:"["
   }
   dt.label>span.brackets:not(:only-child):after {
    content:"]"
   }
   a.footnote-reference {
    font-size:small;
    vertical-align:super
   }
   aside.footnote {
    margin-bottom:.5rem
   }
   aside.footnote:last-child {
    margin-bottom:1rem
   }
   aside.footnote span.backrefs,
   aside.footnote span.label {
    font-weight:700
   }
   aside.footnote:target {
    background-color:var(--pst-color-target)
   }
   div.doctest>div.highlight span.gp,
   span.linenos,
   table.highlighttable td.linenos {
    user-select:none;
    -webkit-user-select:text;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none
   }
   dd {
    margin-bottom:10px;
    margin-left:30px;
    margin-top:3px
   }
   ol li>p:first-child,
   ul li>p:first-child {
    margin-bottom:.25rem;
    margin-top:.25rem
   }
   blockquote {
    border-left:.25em solid var(--pst-color-border);
    border-radius:.25rem;
    padding:1em;
    position:relative
   }
   blockquote,
   blockquote p {
    color:var(--pst-color-text-muted)
   }
   blockquote .line-block {
    margin:0
   }
   blockquote p:last-child {
    margin-bottom:0
   }
   blockquote:before {
    background-color:var(--pst-color-border);
    content:"";
    height:100%;
    left:0;
    opacity:.1;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%;
    z-index:-1
   }
   span.guilabel {
    border:1px solid var(--pst-color-info);
    border-radius:4px;
    color:var(--pst-color-info);
    font-size:80%;
    font-weight:700;
    margin:auto 2px;
    padding:2.4px 6px;
    position:relative
   }
   span.guilabel:before {
    background-color:var(--pst-color-info);
    content:"";
    height:100%;
    left:0;
    opacity:.1;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%
   }
   a.reference.download:before {
    color:var(--pst-color-text-muted);
    content:var(--pst-icon-download);
    font-family:Font Awesome\ 6 Free;
    font-size:.8em;
    font-weight:600;
    padding:0 .25em
   }
   table {
    display:table;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    overflow:auto;
    width:fit-content
   }
   table::-webkit-scrollbar {
    height:.5rem;
    width:.5rem
   }
   table::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted);
    border-radius:.25rem
   }
   table::-webkit-scrollbar-track {
    background:transparent
   }
   table::-webkit-scrollbar-thumb {
    background:var(--pst-color-on-surface)
   }
   table::-webkit-scrollbar-thumb:hover,
   table:hover::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted)
   }
   table.table-right {
    margin-right:0
   }
   table.table-left {
    margin-left:0
   }
   table caption {
    caption-side:top;
    color:var(--pst-color-text-muted);
    text-align:center
   }
   td.text-align\:left,
   th.text-align\:left {
    text-align:left
   }
   td.text-align\:right,
   th.text-align\:right {
    text-align:right
   }
   td.text-align\:center,
   th.text-align\:center {
    text-align:center
   }
   .toctree-wrapper p.caption {
    font-size:1.5em;
    margin-bottom:0
   }
   .toctree-wrapper>ul {
    padding-left:0
   }
   .toctree-wrapper li[class^=toctree-l] {
    list-style:none;
    margin-bottom:.2em
   }
   .toctree-wrapper li[class^=toctree-l]>a {
    font-size:1.1em;
    list-style:none
   }
   .toctree-wrapper li[class^=toctree-l]>ul {
    list-style:none;
    padding-inline-start:1.5em
   }
   .toctree-wrapper .toctree-l1>a {
    font-size:1.3em
   }
   div.topic.contents ul.simple,
   nav.contents ul.simple {
    list-style:none;
    padding-left:0
   }
   div.math,
   span.math {
    align-items:center;
    display:flex;
    max-width:100%;
    overflow:hidden
   }
   span.math {
    display:inline-flex
   }
   div.math {
    flex-direction:row-reverse;
    gap:.5em
   }
   div.math span.eqno a.headerlink {
    font-size:1em;
    position:relative
   }
   div.math mjx-container {
    flex-grow:1;
    overflow-x:auto;
    padding-bottom:.2rem
   }
   div.math mjx-container::-webkit-scrollbar {
    height:.5rem;
    width:.5rem
   }
   div.math mjx-container::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted);
    border-radius:.25rem
   }
   div.math mjx-container::-webkit-scrollbar-track {
    background:transparent
   }
   div.math mjx-container::-webkit-scrollbar-thumb {
    background:var(--pst-color-on-surface)
   }
   div.math mjx-container::-webkit-scrollbar-thumb:hover,
   div.math mjx-container:hover::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted)
   }
   .bd-sidebar-primary .sidebar-start-items>h2,
   .bd-sidebar-primary .sidebar-start-items>h3 {
    margin-top:1rem
   }
   .bd-sidebar-primary .sidebar-start-items>ul {
    list-style:none;
    padding-left:0
   }
   article.bd-article>section+div.section {
    font-size:1.2em
   }
   article.bd-article>section+div.section span:first-child:before {
    content:var(--pst-icon-angle-left);
    font-family:Font Awesome\ 6 Free;
    font-weight:800
   }
   article.bd-article>section+div.section span:last-child:after {
    content:var(--pst-icon-angle-right);
    font-family:Font Awesome\ 6 Free;
    font-weight:800
   }
   .ablog-post ul.ablog-archive {
    padding-left:0
   }
   .docutils.container {
    margin-left:unset;
    margin-right:unset;
    max-width:unset;
    padding-left:unset;
    padding-right:unset;
    width:unset
   }
   div.highlight button.copybtn {
    align-items:center;
    background-color:unset;
    background-color:var(--pst-color-surface);
    border:none;
    display:flex;
    justify-content:center
   }
   div.highlight button.copybtn:not(.success) {
    color:var(--pst-color-muted)
   }
   div.highlight button.copybtn:hover:not(.success) {
    color:var(--pst-color-text)
   }
   div.highlight button.copybtn.o-tooltip--left:after {
    background-color:var(--pst-color-surface);
    color:var(--pst-color-text)
   }
   #ethical-ad-placement .ethical-footer a,
   #ethical-ad-placement .ethical-footer a:active,
   #ethical-ad-placement .ethical-footer a:hover,
   #ethical-ad-placement .ethical-footer a:visited,
   #ethical-ad-placement .ethical-sidebar a,
   #ethical-ad-placement .ethical-sidebar a:active,
   #ethical-ad-placement .ethical-sidebar a:hover,
   #ethical-ad-placement .ethical-sidebar a:visited {
    color:var(--pst-color-text-base)
   }
   #ethical-ad-placement .ethical-footer,
   #ethical-ad-placement .ethical-sidebar {
    background-color:var(--pst-color-background);
    border:1px solid var(--pst-color-border);
    border-radius:5px;
    color:var(--pst-color-text-base);
    font-size:14px;
    line-height:20px
   }
   html[data-theme=dark] .bd-content div.jupyter_container {
    background-color:var(--pst-color-surface);
    border:1px solid var(--pst-color-border);
    border-radius:.25rem
   }
   html[data-theme=dark] .bd-content div.jupyter_container div.highlight,
   html[data-theme=dark] .bd-content div.jupyter_container div.output {
    border-radius:.25rem
   }
   html[data-theme=dark] .bd-content div.jupyter_container div.highlight {
    background-color:var(--pst-color-surface)
   }
   .xr-wrap[hidden] {
    display:block!important
   }
   html[data-theme=light] {
    --pst-color-primary:#459db9;
    --pst-color-primary-text:#fff;
    --pst-color-primary-highlight:#306e81;
    --sd-color-primary:var(--pst-color-primary);
    --sd-color-primary-text:var(--pst-color-primary-text);
    --sd-color-primary-highlight:var(--pst-color-primary-highlight);
    --pst-color-secondary:#ee9040;
    --pst-color-secondary-text:#fff;
    --pst-color-secondary-highlight:#cf6912;
    --sd-color-secondary:var(--pst-color-secondary);
    --sd-color-secondary-text:var(--pst-color-secondary-text);
    --sd-color-secondary-highlight:var(--pst-color-secondary-highlight);
    --pst-color-success:#28a745;
    --pst-color-success-text:#fff;
    --pst-color-success-highlight:#19692c;
    --sd-color-success:var(--pst-color-success);
    --sd-color-success-text:var(--pst-color-success-text);
    --sd-color-success-highlight:var(--pst-color-success-highlight);
    --pst-color-info:#459db9;
    --pst-color-info-text:#fff;
    --pst-color-info-highlight:#306e81;
    --sd-color-info:var(--pst-color-info);
    --sd-color-info-text:var(--pst-color-info-text);
    --sd-color-info-highlight:var(--pst-color-info-highlight);
    --pst-color-warning:#ee9040;
    --pst-color-warning-text:#fff;
    --pst-color-warning-highlight:#cf6912;
    --sd-color-warning:var(--pst-color-warning);
    --sd-color-warning-text:var(--pst-color-warning-text);
    --sd-color-warning-highlight:var(--pst-color-warning-highlight);
    --pst-color-danger:#dc3545;
    --pst-color-danger-text:#fff;
    --pst-color-danger-highlight:#a71d2a;
    --sd-color-danger:var(--pst-color-danger);
    --sd-color-danger-text:var(--pst-color-danger-text);
    --sd-color-danger-highlight:var(--pst-color-danger-highlight);
    --pst-color-light:#c9c9c9;
    --pst-color-light-text:#000;
    --pst-color-light-highlight:#a3a3a3;
    --sd-color-light:var(--pst-color-light);
    --sd-color-light-text:var(--pst-color-light-text);
    --sd-color-light-highlight:var(--pst-color-light-highlight);
    --pst-color-muted:#646464;
    --pst-color-muted-text:#fff;
    --pst-color-muted-highlight:#3e3e3e;
    --sd-color-muted:var(--pst-color-muted);
    --sd-color-muted-text:var(--pst-color-muted-text);
    --sd-color-muted-highlight:var(--pst-color-muted-highlight);
    --pst-color-dark:#323232;
    --pst-color-dark-text:#fff;
    --pst-color-dark-highlight:#0c0c0c;
    --sd-color-dark:var(--pst-color-dark);
    --sd-color-dark-text:var(--pst-color-dark-text);
    --sd-color-dark-highlight:var(--pst-color-dark-highlight);
    --pst-color-black:#000;
    --pst-color-black-text:#fff;
    --pst-color-black-highlight:#000;
    --sd-color-black:var(--pst-color-black);
    --sd-color-black-text:var(--pst-color-black-text);
    --sd-color-black-highlight:var(--pst-color-black-highlight);
    --pst-color-white:#fff;
    --pst-color-white-text:#000;
    --pst-color-white-highlight:#d9d9d9;
    --sd-color-white:var(--pst-color-white);
    --sd-color-white-text:var(--pst-color-white-text);
    --sd-color-white-highlight:var(--pst-color-white-highlight)
   }
   html[data-theme=dark] {
    --pst-color-primary:#459db9;
    --pst-color-primary-text:#fff;
    --pst-color-primary-highlight:#306e81;
    --sd-color-primary:var(--pst-color-primary);
    --sd-color-primary-text:var(--pst-color-primary-text);
    --sd-color-primary-highlight:var(--pst-color-primary-highlight);
    --pst-color-secondary:#ee9040;
    --pst-color-secondary-text:#fff;
    --pst-color-secondary-highlight:#cf6912;
    --sd-color-secondary:var(--pst-color-secondary);
    --sd-color-secondary-text:var(--pst-color-secondary-text);
    --sd-color-secondary-highlight:var(--pst-color-secondary-highlight);
    --pst-color-success:#488757;
    --pst-color-success-text:#fff;
    --pst-color-success-highlight:#2d5537;
    --sd-color-success:var(--pst-color-success);
    --sd-color-success-text:var(--pst-color-success-text);
    --sd-color-success-highlight:var(--pst-color-success-highlight);
    --pst-color-info:#459db9;
    --pst-color-info-text:#fff;
    --pst-color-info-highlight:#306e81;
    --sd-color-info:var(--pst-color-info);
    --sd-color-info-text:var(--pst-color-info-text);
    --sd-color-info-highlight:var(--pst-color-info-highlight);
    --pst-color-warning:#ee9040;
    --pst-color-warning-text:#fff;
    --pst-color-warning-highlight:#cf6912;
    --sd-color-warning:var(--pst-color-warning);
    --sd-color-warning-text:var(--pst-color-warning-text);
    --sd-color-warning-highlight:var(--pst-color-warning-highlight);
    --pst-color-danger:#cb4653;
    --pst-color-danger-text:#fff;
    --pst-color-danger-highlight:#992b36;
    --sd-color-danger:var(--pst-color-danger);
    --sd-color-danger-text:var(--pst-color-danger-text);
    --sd-color-danger-highlight:var(--pst-color-danger-highlight);
    --pst-color-light:#c9c9c9;
    --pst-color-light-text:#000;
    --pst-color-light-highlight:#a3a3a3;
    --sd-color-light:var(--pst-color-light);
    --sd-color-light-text:var(--pst-color-light-text);
    --sd-color-light-highlight:var(--pst-color-light-highlight);
    --pst-color-muted:#a6a6a6;
    --pst-color-muted-text:#fff;
    --pst-color-muted-highlight:gray;
    --sd-color-muted:var(--pst-color-muted);
    --sd-color-muted-text:var(--pst-color-muted-text);
    --sd-color-muted-highlight:var(--pst-color-muted-highlight);
    --pst-color-dark:#cecece;
    --pst-color-dark-text:#000;
    --pst-color-dark-highlight:#a8a8a8;
    --sd-color-dark:var(--pst-color-dark);
    --sd-color-dark-text:var(--pst-color-dark-text);
    --sd-color-dark-highlight:var(--pst-color-dark-highlight);
    --pst-color-black:#000;
    --pst-color-black-text:#fff;
    --pst-color-black-highlight:#000;
    --sd-color-black:var(--pst-color-black);
    --sd-color-black-text:var(--pst-color-black-text);
    --sd-color-black-highlight:var(--pst-color-black-highlight);
    --pst-color-white:#fff;
    --pst-color-white-text:#000;
    --pst-color-white-highlight:#d9d9d9;
    --sd-color-white:var(--pst-color-white);
    --sd-color-white-text:var(--pst-color-white-text);
    --sd-color-white-highlight:var(--pst-color-white-highlight)
   }
   html[data-theme=dark],
   html[data-theme=light] {
    --sd-color-card-border:var(--pst-color-border)
   }
   html[data-theme=light] .sd-shadow-lg,
   html[data-theme=light] .sd-shadow-md,
   html[data-theme=light] .sd-shadow-sm,
   html[data-theme=light] .sd-shadow-xs {
    box-shadow:0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important
   }
   .bd-content .sd-card {
    border:1px solid var(--pst-color-border)
   }
   .bd-content .sd-card .sd-card-header {
    background-color:var(--pst-color-panel-background);
    border-bottom:1px solid var(--pst-color-border)
   }
   .bd-content .sd-card .sd-card-footer {
    border-top:1px solid var(--pst-color-border)
   }
   .bd-content .sd-card .sd-card-body,
   .bd-content .sd-card .sd-card-footer {
    background-color:var(--pst-color-panel-background)
   }
   .bd-content .sd-tab-set>input:checked+label,
   .bd-content .sd-tab-set>input:not(:checked)+label:hover {
    border-color:var(--pst-color-primary);
    color:var(--pst-color-primary)
   }
   .bd-content .sd-tab-set>input:not(:checked)+label:hover {
    opacity:.5
   }
   .bd-content .sd-tab-set>label {
    color:var(--pst-color-text-muted)
   }
   html .bd-content .sd-tab-set>label:hover {
    border-color:var(--pst-color-primary);
    color:var(--pst-color-primary);
    opacity:.5
   }
   details.sd-dropdown {
    border:0!important;
    box-shadow:0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important
   }
   details.sd-dropdown summary.sd-card-header {
    border:0!important
   }
   details.sd-dropdown summary.sd-card-header+div.sd-summary-content {
    border:0
   }
   details.sd-dropdown summary.sd-card-header {
    align-items:center;
    background-color:unset!important;
    border-left:.2rem solid var(--pst-sd-dropdown-color)!important;
    color:var(--pst-color-text)!important;
    display:flex;
    font-weight:600;
    padding-bottom:.5rem;
    padding-top:.5rem;
    position:relative
   }
   details.sd-dropdown summary.sd-card-header,
   details.sd-dropdown summary.sd-card-header+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-card-border)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-primary,
   details.sd-dropdown summary.sd-card-header.sd-bg-primary+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-primary)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-secondary,
   details.sd-dropdown summary.sd-card-header.sd-bg-secondary+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-secondary)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-success,
   details.sd-dropdown summary.sd-card-header.sd-bg-success+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-success)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-info,
   details.sd-dropdown summary.sd-card-header.sd-bg-info+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-info)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-warning,
   details.sd-dropdown summary.sd-card-header.sd-bg-warning+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-warning)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-danger,
   details.sd-dropdown summary.sd-card-header.sd-bg-danger+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-danger)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-light,
   details.sd-dropdown summary.sd-card-header.sd-bg-light+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-light)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-muted,
   details.sd-dropdown summary.sd-card-header.sd-bg-muted+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-muted)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-dark,
   details.sd-dropdown summary.sd-card-header.sd-bg-dark+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-dark)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-black,
   details.sd-dropdown summary.sd-card-header.sd-bg-black+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-black)
   }
   details.sd-dropdown summary.sd-card-header.sd-bg-white,
   details.sd-dropdown summary.sd-card-header.sd-bg-white+div.sd-summary-content {
    --pst-sd-dropdown-color:var(--sd-color-white)
   }
   details.sd-dropdown summary.sd-card-header:before {
    background-color:var(--pst-sd-dropdown-color);
    content:"";
    height:100%;
    left:0;
    opacity:.1;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%
   }
   details.sd-dropdown summary.sd-card-header+div.sd-summary-content {
    border-bottom-left-radius:calc(.25rem - 1px);
    border-left:.2rem solid var(--pst-sd-dropdown-color)!important
   }
   details.sd-dropdown summary.sd-card-header span.sd-summary-icon {
    align-items:center;
    color:var(--pst-sd-dropdown-color)!important;
    display:inline-flex
   }
   details.sd-dropdown summary.sd-card-header .sd-summary-down,
   details.sd-dropdown summary.sd-card-header .sd-summary-up {
    top:.7rem
   }
   @use "../variables/color" as *;
   html[data-theme=dark],html[data-theme=light] {
    --pst-color-panel-background:$value
   }
   .container[role=main] {
    max-width:none;
    padding-left:0;
    padding-right:0
   }
   .sphinx-bs .card {
    background-color:var(--pst-color-panel-background);
    border:1px solid var(--pst-color-border)
   }
   .sphinx-bs .card .card-header {
    border-bottom:1px solid var(--pst-color-border)
   }
   .sphinx-bs .card .card-footer {
    border-top:1px solid var(--pst-color-border)
   }
   .bd-content .tabbed-set>input:checked+label,
   .bd-content .tabbed-set>input:not(:checked)+label:hover {
    border-color:var(--pst-color-primary);
    color:var(--pst-color-primary)
   }
   .bd-content .tabbed-set>input:not(:checked)+label:hover {
    opacity:.5
   }
   .bd-content .tabbed-set>label {
    color:var(--pst-color-text-muted)
   }
   html .bd-content .tabbed-set>label:hover {
    border-color:var(--pst-color-primary);
    color:var(--pst-color-primary);
    opacity:.5
   }
   .bd-content .tabbed-set>.tabbed-content {
    border-color:var(--pst-color-border)
   }
   .bd-content .admonition button.toggle-button {
    color:inherit
   }
   .bd-content details.toggle-details summary {
    border-left:3px solid var(--pst-color-primary)
   }
   html div.rendered_html table {
    table-layout:auto
   }
   html[data-theme=dark] .bd-content .nboutput .output_area.rendered_html {
    background-color:var(--pst-color-text-base);
    border-radius:.25rem;
    color:var(--pst-color-on-background);
    padding:.5rem
   }
   html[data-theme=dark] .bd-content .nboutput .output_area.stderr {
    background:var(--pst-color-danger)
   }
   div.nblast.container {
    margin-bottom:1rem
   }
   div.cell_output .output {
    max-width:100%;
    overflow-x:auto
   }
   div.cell_output .output::-webkit-scrollbar {
    height:.5rem;
    width:.5rem
   }
   div.cell_output .output::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted);
    border-radius:.25rem
   }
   div.cell_output .output::-webkit-scrollbar-track {
    background:transparent
   }
   div.cell_output .output::-webkit-scrollbar-thumb {
    background:var(--pst-color-on-surface)
   }
   div.cell_output .output::-webkit-scrollbar-thumb:hover,
   div.cell_output .output:hover::-webkit-scrollbar-thumb {
    background:var(--pst-color-text-muted)
   }
   html[data-theme=dark] .bd-content div.cell_output .text_html,
   html[data-theme=dark] .bd-content div.cell_output img {
    background-color:var(--pst-color-text-base);
    border-radius:.25rem;
    color:var(--pst-color-on-background);
    padding:.5rem
   }
   .bd-content div.cell_input {
    display:flex;
    flex-direction:column;
    justify-content:stretch
   }
   .bd-content div.cell_input,
   .bd-content div.output {
    border-radius:.25rem
   }
   .bd-content div.output table {
    table-layout:auto
   }
   .bd-search-container div#search-results>h2 {
    font-size:var(--pst-font-size-icon);
    margin-top:0
   }
   .bd-search-container div#search-results p.search-summary {
    color:var(--pst-color-text-muted)
   }
   .bd-search-container ul.search {
    list-style:none;
    margin:0
   }
   .bd-search-container ul.search li {
    background-image:none;
    border-top:1px solid var(--pst-color-text-muted);
    margin:1rem 0;
    padding:1rem 0
   }
   .bd-search-container ul.search li>a {
    font-size:1.2em
   }
   .bd-search-container ul.search li div.context,
   .bd-search-container ul.search li p.context {
    color:var(--pst-color-text-base);
    margin:.5em 0 0
   }
   .bd-search-container ul.search li div.context a:before,
   .bd-search-container ul.search li p.context a:before {
    color:var(--pst-color-text-muted);
    content:"#";
    padding-right:.2em
   }
   